.listOfTasks li {
  background-color: white;
  padding: 10px;
  margin: 10px;
  margin-left: -30px;
  border-radius: 5px;
  width: 100%;
  word-wrap: break-word;
}

.todoListMain {
  margin: 10px;
  text-align: center;
  background-color: pink;
}

@media (min-width: 768px) {
  .todoListMain {
    display: flex;
    justify-content: center;
    
  }
}

.todoListMain input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid white;
  background-color: blue;
  width: calc(100% - 24px);
}

@media (min-width: 768px) {
  .todoListMain input {
    width: 100%;
  }
}

.todoListMain button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #6db8bb;
  color: #FFF;
  border: 2px solid #6db8bb;
}

@media (min-width: 768px) {
  .todoListMain button {
    margin-top: 0;
  }
}
.todoListMain button:hover {
  background-color: #05647a;
  border: 2px solid #05647a;
}

.container {
  margin-left: auto;
  margin-right: auto;
  background-color: green;
}

@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}

.row {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: yellow;
}

@media (min-width: 768px) {
  .row {
    width: 50%;
  }
}
