.listOfTasks li {
  margin-right: 10px;
  padding: 10px;
  width: 100%;
  max-width: calc(100% - 62px);
  background-color: white;
  border-radius: 5px;
  word-wrap: break-word;
}

.todoListMain {
  margin-left: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .todoListMain {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.todoListMain input {
  padding: 10px;
  width: calc(100% - 24px);
  font-size: 16px;
  border: 2px solid white;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .todoListMain input {
    width: calc(100% - 130px);
  }
}

.todoListMain button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #6db8bb;
  color: #FFF;
  border: 2px solid #6db8bb;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .todoListMain button {
    margin-top: 0;
  }
}
.todoListMain button:hover {
  background-color: #05647a;
  border: 2px solid #05647a;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .container {
    width: 90%;
  }
}

.row {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media (min-width: 768px) {
  .row {
    width: 50%;
  }
}

.crossOut {
  text-decoration: line-through;
}

.crossButton {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  background: url(../assets/delete.png) no-repeat;
}

.taskLine {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: -30px;
}

.deleteAllButton {
  margin-left: 10px;
  width: 80px;
}

.itemDateTime {
margin-bottom: 5px;
margin-left: 10px;
font-size: 12px;
color: #aaaaaa;
}