body {
  background-color: #eff1e4;
  font-family: sans-serif;
}

input,
button {
  outline: none;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
  color: #537c8e;
  font-size: 50px;
}

.theList li {
  background-color: white;
  padding: 10px;
  margin: 10px;
  margin-left: 0px;
  border-radius: 5px;
  list-style-type: circle; 
}

.todoListMain input {
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
  border: 2px solid white;
  width: 400px;
}

.todoListMain button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #6db8bb;
  color: #FFF;
  border: 2px solid #6db8bb;
}

.todoListMain button:hover {
  background-color: #05647a;
  border: 2px solid #05647a;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

